.main-menu.info {
	margin: 124px auto 370px;
	@media (max-width: 1220px) {
		& {
			padding: 0px 10px;
		}
	}
	@media (max-width: 320px) {
		& {
			padding: 0 5px;
			margin: 110px auto 0;
		}
	}
}
.information {
	// border: 1px solid #000;
	width: 66.12%;
	overflow: hidden;
	@media (max-width: 1220px) {
		width: 100%;
	}
	.breadcrumb {
		width: 300%;
		margin: 0px 0px 20px 0px;
	}
	&__photo {
		background: url(../PHOTO/info/info-bg.png) center no-repeat;
		padding: 0px 0px 48.423% 0px;
		@media (max-width: 1220px) {
			background-size: cover;
		}
	}

	&__container {
		padding: 30px 23.5px 20px;
		background: #fff;
		@media (max-width: 425px) {
			padding: 30px 5px 20px;
		}
	}

	&__header {
		padding: 0px 0px 20px 0px;
		h1 {
			font-family: "Inter";
			font-weight: 500;
			font-size: 30px;
			line-height: 36px;
		}
	}
	a {
		padding: 13px 0px;
		@include center(center);
	}

	&__gallery {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 20px;
		#theFirst{
			grid-row: 1/3;
		}
		#theLast{
			grid-column: 2/3;
			grid-row: 2/3;
		}
	}
}
