.breadcrumb {
  @include center(start);
  grid-column: 1/2;
  background: #ffffff;
  padding: 14px 0 14px 14px;

  img {
    margin: 0px 20px 0px 0px;
  }

  .blackName {
    font-weight: 400;
    // word-wrap: ;
  }

  .space {
    margin: 0 10px;
  }
}

.news-news {
  @media (max-width: 1224px) {
    margin: 138px 0px 0px 0px;
  }
}
